.col-sm-8.col-sm-offset-4
  %h1.text-center
    %span.label.label-success
      = product.title
  %hr
  %dl.dl-horizontal.col-sm-offset-2
    %dt Description:
    %dd= product.description

    %dt Price:
    %dd= product.price

    %dt Category
    %dd= product.category.name

    %dt Average Rating
    %dd= product.average_rating

  %hr
  .panel.panel-info
    .panel-heading Add a review!
    .panel-body
      = render 'reviews/form'
  = render reviews


  = link_to 'Edit', edit_category_product_path(category.id, product.id), class: 'btn btn-success'
  = link_to 'Back', category_products_path, class: 'btn btn-info'
  %hr
