%h1
  .text-center
    %span.label.label-info
      All reviews
  %hr

- reviews.each do |review|
  .media
  .media-body
    %h4.media-heading
      = link_to reviews_path(review) do
        %strong= review.product.title
        in
        %em= review.product.category.name
        ( received
        = review.rating
        stars) by
        = review.user.firstname
    = truncate(review.content, length: 150)
  %hr

.text-center
  = will_paginate reviews, renderer: BootstrapPagination::Rails
